.componentBox {
    display: flex;
    flex-wrap: wrap;
}

.component {
    flex: 1 1 300px;
    background-color: rgb(237, 233, 233);
    max-width: 450px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 2px 2px 5px #0000005f;
}