.LightsOn{
    background-color: rgb(15, 14, 78);
}

.LightsOn h1{
    margin: 0;
    color: white;
    text-shadow: 2px 2px 5px rgb(140, 140, 219);
}

.winner{
    font-size: 40pt;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em forestgreen, 0 0 0.2em forestgreen;
}